#employee-div {
  height: auto;
  background-color: #625fed;
  padding-bottom: 1rem;
}
#employee-div h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 1rem 0;
}
#employee-div #linkReturn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  border-radius: 10px;
  border: 2px;
  width: 18rem;
  height: 3rem;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-bottom: 2rem;
}
#employee-div #linkReturn .link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
#employee-div #linkReturn:hover {
  background-color: #625fed;
}
#employee-div #linkReturn:hover .link:hover {
  color: #fff;
}
#employee-div .TUEFO {
  position: relative;
}
#employee-div .kBhHpT {
  position: absolute;
  top: 102px;
  left: 12px;
  text-indent: -9999px;
  line-height: 0;
}
#employee-div .kBhHpT::after {
  content: "Show";
  text-indent: 0;
  display: block;
  line-height: initial;
  margin-left: -5px;
}
#employee-div .gnaqej {
  position: absolute;
  top: 99px;
  left: 46px;
}
#employee-div .sc-llJcti::before {
  content: "Hide";
  position: absolute;
  left: 3.1rem;
  top: 2px;
}
#employee-div .OHwJB::before {
  content: "Showing ";
}
#employee-div .OHwJB::after {
  content: " entries";
}
#employee-div .OHwJB {
  position: sticky;
  right: 148.4rem;
  margin: 0 5px;
}