.container {
  background-color: #625fed;
  color: #fff;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blocPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .link {
      color: aquamarine;
      font-weight: bold;
    }

    #create-employee {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 44px;
      fieldset {
        box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 10%);
        #street,
        #city,
        #state,
        #zip-code {
          border-radius: 4px;
          border: 2px;
          width: 32rem;
          height: 4rem;
          box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 25%);
          outline-color: #625fed;
          font-size: 2rem;
          color: #625fed;
          cursor: pointer;
        }
      }
      label {
        display: block;
        margin-top: 1rem;
        margin-bottom: 10px;
        font-weight: 500;
      }
      .input-name {
        border-radius: 4px;
        border: 2px;
        width: 32rem;
        height: 4rem;
        box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 25%);
        outline-color: #625fed;
        font-size: 2rem;
        color: #625fed;
        cursor: pointer;
      }

      .address {
        margin-top: 10px;
      }
      .save {
        margin-top: 57px;
        border-radius: 10px;
        border: 2px;
        width: 18rem;
        height: 3rem;
        color: #625fed;
        font-weight: bold;
        font-size: 1.5rem;
        box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 25%);
        cursor: pointer;
      }
      .save:hover {
        background-color: #625fed;
        color: #fff;
      }
      legend {
        font-weight: 500;
      }
      select {
        border-radius: 4px;
        border: 2px;
        width: 32rem;
        height: 4rem;
        box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 25%);
        color: #625fed;
        outline-color: #625fed;
        font-size: 2rem;
        option {
          font-weight: bold;
          color: #625fed;
          font-size: 1rem;
        }
      }
      #department {
        cursor: pointer;
      }
      .date {
        p {
          display: block;
          margin-top: 1rem;
          margin-bottom: 10px;
          font-weight: 500;
        }
        .datePiker,
        .dateOfBirth {
          cursor: pointer;
        }
        .react-datepicker__input-container input {
          border-radius: 4px;
          border: 2px;
          width: 32rem;
          height: 4rem;
          box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 25%);
          outline-color: #625fed;
          font-size: 2rem;
          color: #625fed;
        }
      }
    }
  }
  #confirmation {
    display: none;
  }
  #confirmation.show {
    display: block;
    position: relative;
    top: -31rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
